#content {
  height: 100%;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 5rem 1fr max-content;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
