header {
  grid-area: header;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  background-color: var(--gray-8);
  color: white;
  padding: var(--space-md);

  z-index: 2;
}

header > * {
  align-self: center;
}

#site-icon {
  margin-right: 0.75rem;
  aspect-ratio: 1;
  height: 3rem;
}

#site-title {
  align-self: center;
  justify-self: left;
  font-size: 2rem;
  color: white;
}

#menu-icon {
  /* align-self: center; */
  justify-self: right;
  z-index: 1;
  cursor: pointer;
}

#menu-icon:hover {
  scale: 1.05;
}

#menu-icon:active {
  scale: 1;
}
