#side-bar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  padding: var(--space-lg);
  justify-content: start;
  align-items: start;
  background-color: var(--gray-3);
  z-index: 1;
}

.placeholder {
  font-weight: bold;
}

.projects-list-item {
  list-style-type: none;
  margin-left: var(--space-lg);
  margin-top: var(--space-sm);
  padding: var(--space-sm);
  border-radius: var(--br-sm);
  cursor: pointer;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content;
  align-items: center;
  gap: var(--space-sm);
}

.projects-list-item {
  line-height: 1rem;
  font-size: 1rem;
  width: max-content;
}

li.current-project {
  background-color: var(--gray-5);
}

.sidebar-item {
  width: 100%;
}

#sidebar-input {
  padding: var(--space-sm);
}

#add-project-form {
  margin-bottom: var(--space-lg);
}

#side-bar button {
  width: 100%;
  align-self: end;
  margin-top: var(--space-lg);
  padding: var(--space-sm);
}

.delete-project-button {
  background-color: transparent;
  border: none;
  padding: 0 !important;
  display: grid;
  justify-content: center;
  margin: 0 !important;
}

#side-bar button img {
  height: 1rem;
}

.slide-down {
  animation: slide-down 0.75s forwards;
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

.slide-up {
  animation: slide-up 0.75s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}
