#side-bar {
  grid-area: sidebar;
  display: grid;
  grid-auto-rows: max-content;
  padding: var(--space-lg);
  justify-content: start;
  align-items: start;
  background-color: var(--gray-3);
  z-index: 1;
}

.placeholder {
  font-weight: bold;
}

.projects-list-item {
  list-style-type: none;
  margin-left: var(--space-lg);
  margin-top: var(--space-sm);
  padding: var(--space-sm);
  border-radius: var(--br-sm);
  cursor: pointer;
}

.projects-list-item {
  line-height: 1rem;
  font-size: 1rem;
  width: max-content;
}

li.current-project {
  background-color: var(--gray-5);
}

.slide-down {
  animation: slide-down 0.75s forwards;
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

.slide-up {
  animation: slide-up 0.75s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}
