#side-bar {
  grid-area: sidebar;
  display: grid;
  padding: var(--space-lg);
  justify-content: center;
  align-items: start;
  background-color: var(--gray-3);
  z-index: 1;
}

.placeholder {
  font-weight: bold;
}

.slide-down {
  animation: slide-down 0.75s forwards;
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

.slide-up {
  animation: slide-up 0.75s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}
