@import url("./root.css");
@import url("./components/Content/Content.css");
@import url("./components/Header/Header.css");
@import url("./components/SideBar/SideBar.css");
@import url("./components/Main/Main.css");
@import url("./components/Todos/Todos.css");
@import url("./components/Footer/Footer.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.test-header {
  color: red;
}

@import url("./media.css");

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.display-none {
  display: none !important;
}

.display-reset {
  display: "" !important;
}

.display-grid {
  display: grid;
}

.display-block {
  display: block !important;
}

input {
  -webkit-user-select: text;
}
