#todos-container {
  display: grid;
  gap: var(--space-sm);
  grid-area: todos;
  padding: 45px 15%;
}

.todo,
#todo-form {
  z-index: 2;
  background-color: var(--gray-2);
  padding: var(--space-md);
}

#todo-form {
  display: grid;
  gap: 10px 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title due . add"
    "priority priority details";
  align-content: center;
  background-color: var(--gray-4);
}

.form-row {
  display: grid;
  gap: var(--space-md);
}

#form-row-1 {
  grid-template-columns: 1fr auto auto;
}

#form-row-3 {
  grid-template-columns: 1fr auto;
}

form input,
button,
select,
textarea {
  border: 2px solid var(--gray-9);
  border-radius: var(--br-sm);
  display: block;
  align-self: start;
  justify-self: start;
}

.todo button,
#todo-form button {
  display: grid;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;
  justify-self: end;
  align-self: start;
  font: 1em sans-serif;
}

button :hover {
  scale: 1.05;
  cursor: pointer;
}

.todo button :active {
  scale: 1;
}

.todo button img,
#todo-form button img {
  height: var(--button-icon-height);
}

#todo-form input,
select,
textarea {
  width: 100%;
  border-radius: var(--br-sm);
  font-size: 1rem;
  padding: 3px;
}

.todo-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 3rem;
  grid-auto-rows: 2rem;
  justify-content: start;
  align-items: center;
  column-gap: var(--space-md);
}

.todo-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-form:first-child {
  border-radius: var(--br-md) var(--br-md) 0 0;
}

.todo:last-child {
  border-radius: 0 0 var(--br-md) var(--br-md);
}

#todo-form:only-child {
  border-radius: var(--br-md);
}

.rotated45 {
  transform: rotate(45deg);
}

.rotate45 {
  animation-name: rotate45;
  animation-delay: 1s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.crossed-out {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--gray-8);
}

.checkbox {
  background-color: transparent;
  border-radius: 100%;
  border-color: var(--gray-8);
  padding: 2px 0 0 0;
  font-size: 1.5rem;
  cursor: pointer;
  justify-self: start;
}

select,
input,
textarea,
#todos-container button {
  height: 2rem;
}

::placeholder,
select {
  color: var(--gray-6);
}
.label {
  font-size: 0.75rem;
}

.checked {
  background-color: var(--gray-8);
  color: var(--gray-1);
  padding: 2px 0 0 0;
}

.unchecked {
  background-color: transparent;
}

@keyframes rotate45 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}

.slide-down {
  animation: slide-down 1s forwards;
}
@keyframes slide-down {
  from {
    z-index: 0;
    transform: translateY(-100%);
  }
  to {
    z-index: 1;
    transform: translateY(0%);
  }
}

#dateTimeInput-wrapper {
  display: grid;
  grid-template-columns: 8rem max-content;
  font-size: 0.75rem;
}
#dateTimeInput-wrapper input {
  font-size: 0.75rem;
  width: 100%;
}

#dateTimeInput-wrapper button {
  color: var(--gray-6);
  border: none;
  background-color: transparent;
  height: 1.2rem;
  align-self: center;
  display: grid;
  align-items: center;
}

#dateTimeInput-wrapper button img {
  height: 1rem;
  transform: rotate(45deg);
}

#dateTimeComponent-wrapper {
  grid-area: "due";
  display: grid;
  align-items: start;
}

#deadline-prompt {
  cursor: pointer;
  text-decoration: underline;
  justify-self: center;
}

#title-input {
  grid-area: "title";
}

#priority-selector {
  grid-area: "priority";
}

#add-button {
  grid-area: "add";
}

#details-input {
  grid-area: "details";
  display: block;
}

.toggle-text {
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}

.due-date {
  grid-column: 1/-1;
  margin-top: var(--space-sm);
  font-size: 0.75rem;
}

.red {
  color: red;
}

textarea {
  resize: vertical;
}
