#todos-container {
  display: grid;
  gap: var(--space-sm);
  grid-area: todos;
  padding: 45px 15%;
}

.todo,
#todo-form {
  z-index: 2;
  background-color: var(--gray-2);
  padding: var(--space-md);
}

#todo-form {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 2.5rem 3rem;
  align-content: center;
  background-color: var(--gray-4);
}

form input,
button,
select {
  border: 2px solid var(--gray-9);
  border-radius: var(--br-sm);
  display: block;
  align-self: end;
  justify-self: end;
}

.todo button,
#todo-form button {
  display: grid;
  justify-content: center;
  align-items: center;

  height: 2rem;
  aspect-ratio: 1;
  justify-self: end;
  align-self: end;
  font: 1em sans-serif;
}

button :hover {
  scale: 1.05;
  cursor: pointer;
}

.todo button :active {
  scale: 1;
}

.todo button img,
#todo-form button img {
  height: 1.5rem;
}

#todo-form input,
select {
  width: 100%;
  border-radius: var(--br-sm);
  font-size: 1rem;
  padding: 3px;
}

.todo div {
  padding: 0 25px;
}

.todo-item {
  display: grid;
  grid-template-columns: 3rem 1fr auto 3rem;
  justify-content: center;
  align-items: center;
}

#todo-form:first-child {
  border-radius: var(--br-md) var(--br-md) 0 0;
}

.todo:last-child {
  border-radius: 0 0 var(--br-md) var(--br-md);
}
/* 
.todo-item {
  border-bottom: 2px solid var(--gray-9);
} */
/* .todo-item:first-child {
  margin-top: 20px;
}

.todo-item:last-child {
  border-bottom: none;
} */

#todo-form:only-child {
  border-radius: var(--br-md);
}

.rotated45 {
  transform: rotate(45deg);
}

.rotate45 {
  animation-name: rotate45;
  animation-delay: 1s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.crossed-out {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--gray-8);
}

.checkbox {
  color: var(--gray-1);
  background-color: transparent;
  border-radius: 100%;
  border-color: var(--gray-8);
  padding: 2px 0 0 0;
  font-size: 1.5rem;
  cursor: pointer;
}

select,
input {
  height: 2rem;
}

.label {
  font-size: 0.75rem;
}

/* .checkbox:hover:not(.checked) {
  background-color: var(--gray-5);
} */

.checked {
  background-color: var(--gray-8);
}

.unchecked {
  background-color: transparent;
}

@keyframes rotate45 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}

.slide-down {
  animation: slide-down 1s forwards;
}
@keyframes slide-down {
  from {
    z-index: 0;
    transform: translateY(-100%);
  }
  to {
    z-index: 1;
    transform: translateY(0%);
  }
}
