#todos-container {
  display: grid;
  grid-area: todos;
  padding: 45px 15%;
}

.todo,
#todo-form {
  z-index: 2;
  background-color: var(--gray-2);
  padding: var(--space-md);
}

#todo-form {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 3rem;
  align-content: center;
  background-color: var(--gray-4);
}

form input,
button {
  border: 2px solid var(--gray-9);
  border-radius: var(--br-sm);
}

.todo button {
  display: grid;
  justify-content: center;
  align-items: center;

  height: 2rem;
  aspect-ratio: 1;
  justify-self: end;
}

.todo button :hover {
  scale: 1.05;
  cursor: pointer;
}

.todo button :active {
  scale: 1;
}

.todo button img {
  height: 1.5rem;
}

.todo input {
  width: 100%;
  border-radius: var(--br-sm);
  font-size: 1rem;
  padding: 3px;
}

.todo div {
  padding: 0 25px;
}

.todo-item {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  justify-content: center;
  align-items: center;
}

#todo-form:first-child {
  border-radius: var(--br-md) var(--br-md) 0 0;
}

.todo:last-child {
  border-radius: 0 0 var(--br-md) var(--br-md);
}

#todo-form:only-child {
  border-radius: var(--br-md);
}

.rotated45 {
  transform: rotate(45deg);
}

.rotate45 {
  animation-name: rotate45;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes rotate45 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}

.slide-down {
  animation: slide-down 1s forwards;
}
@keyframes slide-down {
  from {
    z-index: 0;
    transform: translateY(-100%);
  }
  to {
    z-index: 1;
    transform: translateY(0%);
  }
}
